.right-nav
    .right-nav__sidebar
        .right-nav__inner     
            nav.right-nav-menu
                ul.right-nav-menu__list
                    li.right-nav-menu__item
                        a.right-nav-menu__link(href="#") Вакансії
                    li.right-nav-menu__item
                        a.right-nav-menu__link(href="#") Партнери
                    li.right-nav-menu__item.is-dropdown
                        a.right-nav-menu__link.is-dropdown__toggle(href="#") Професіоналам
                            svg.right-nav-menu__arrow(width="12" height="8")
                                use(xlink:href="img/sprite.svg#arrow-down")

                        ul.right-nav-menu__sub.is-dropdown__menu
                            li.right-nav-menu__sub-item
                                a.right-nav-menu__sub-link(href="#") Публікації
                            li.right-nav-menu__sub-item
                                a.right-nav-menu__sub-link(href="#") Спеціальна пропозиція для клінік

                    li.right-nav-menu__item
                        a.right-nav-menu__link(href="#") Новини
                    li.right-nav-menu__item
                        a.right-nav-menu__link(href="#") Контакти
