section.about-section
    .container.about-section__container
        .about-section__left.animation-down
            h2.section-title.about-section__title Про компанію
            .about-section__text
                p Компанія ТОВ «ЕВРОЛЕК-УКРАЇНА» планує подальше розширення своєї присутності в регіонах. 
                p У зв’язку з цим триває набір медичних представників у багатьох містах України. Відправляйте своє резюме на електронну адресу: 
                    a(href="mailto:info@eurolek.com.ua") info@eurolek.com.ua
            a.button.about-section__button(href="#") Детальніше
        
        .about-section__right
            .about-block
                picture.about-block__picture
                    img.about-block__img(src="img/about-img.webp" srcset="img/about-img@2x.webp 2x" loading="lazy" width="753" height="499"  alt="alt")

                ul.about-block__list
                    li.about-block__item.animation-down
                        .about-block__pic
                            svg.about-block__icon(width="81" height="79")
                                use(xlink:href="img/sprite.svg#about-1")
                        h3.about-block__title Екологічність
                    li.about-block__item.animation-down
                        .about-block__pic
                            svg.about-block__icon(width="70" height="81")
                                use(xlink:href="img/sprite.svg#about-2")
                        h3.about-block__title Гнучкість та мобільність
                    li.about-block__item.animation-down
                        .about-block__pic
                            svg.about-block__icon(width="77" height="60")
                                use(xlink:href="img/sprite.svg#about-3")
                        h3.about-block__title Висока якість
                    li.about-block__item.animation-down
                        .about-block__pic
                            svg.about-block__icon(width="68" height="67")
                                use(xlink:href="img/sprite.svg#about-4")
                        h3.about-block__title Індивідуальність