section.blog-section
    .container.blog-section__container
        header.blog-section__header.animation-down
            h2.section-title.blog-section__title Блог
            a.button.blog-section__button.blog-section__button--hidden-md(href="#") Усі новини

    .container.container--fluid
        ul.blog-section__list
            li.blog-section__item.animation-down
                a.blog-card(href="#")
                    .blog-card__descr
                        picture.blog-card__picture
                            img.blog-card__img(src="img/blog-img-small.webp" srcset="img/blog-img-small@2x.webp 2x" loading="lazy" width="152" height="125"  alt="alt")
                        
                        h3.blog-card__title Fidia Academy AWC - Вебінари

                        span.blog-card__more
                            svg.blog-card__more-icon(width="8" height="12")
                                use(xlink:href="img/sprite.svg#arrow-right")

                    .blog-card__info
                        span.blog-card__category Long Category Title
                        time.blog-card__date 21.05.2023
            
            li.blog-section__item.animation-down
                a.blog-card(href="#")
                    .blog-card__descr
                        picture.blog-card__picture
                            img.blog-card__img(src="img/blog-img-small.webp" srcset="img/blog-img-small@2x.webp 2x" loading="lazy" width="152" height="125"  alt="alt")
                        
                        h3.blog-card__title Відкрийте для себе гіалуронову кислоту (ГК) у загоєнні ран

                        span.blog-card__more
                            svg.blog-card__more-icon(width="8" height="12")
                                use(xlink:href="img/sprite.svg#arrow-right")

                    .blog-card__info
                        span.blog-card__category Medical
                        time.blog-card__date 1.05.2023
            
            li.blog-section__item.animation-down
                a.blog-card(href="#")
                    .blog-card__descr
                        picture.blog-card__picture
                            img.blog-card__img(src="img/blog-img-small.webp" srcset="img/blog-img-small@2x.webp 2x" loading="lazy" width="152" height="125"  alt="alt")
                        
                        h3.blog-card__title Відкрийте для себе рішення регенеративної медицини для загоєння ран

                        span.blog-card__more
                            svg.blog-card__more-icon(width="8" height="12")
                                use(xlink:href="img/sprite.svg#arrow-right")

                    .blog-card__info
                        span.blog-card__category Medical
                        time.blog-card__date 21.05.2023
            
            li.blog-section__item.animation-down
                a.blog-card(href="#")
                    .blog-card__descr
                        picture.blog-card__picture
                            img.blog-card__img(src="img/blog-img-small.webp" srcset="img/blog-img-small@2x.webp 2x" loading="lazy" width="152" height="125"  alt="alt")
                        
                        h3.blog-card__title Думка Wound Experts щодо продукції Fidia

                        span.blog-card__more
                            svg.blog-card__more-icon(width="8" height="12")
                                use(xlink:href="img/sprite.svg#arrow-right")

                    .blog-card__info
                        span.blog-card__category Medical
                        time.blog-card__date 21.05.2023

        a.button.blog-section__button.blog-section__button--visible-md(href="#") Усі новини