section.blog-page-section
    .container.blog-page-section__container
        nav.breadcrumbs.animation-down(aria-label="breadcrumb")
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Головна
                li.breadcrumbs__item(aria-current="page") Блог

        h2.section-title.blog-page-section__title.animation-down Блог

        .tabs.blog-page-section__tabs.animation-down(data-tabs="tabs-1")
            button.button.tabs__toggle(type="button") 

            ul.tabs__nav
                li.tabs__nav-item
                    button.tabs__nav-btn(type="button") Інструкція
                li.tabs__nav-item
                    button.tabs__nav-btn(type="button") Склад
                li.tabs__nav-item
                    button.tabs__nav-btn(type="button") Протипоказання
                li.tabs__nav-item
                    button.tabs__nav-btn(type="button") Особливості застосування
                li.tabs__nav-item
                    button.tabs__nav-btn(type="button") Спосіб застосування
                li.tabs__nav-item
                    button.tabs__nav-btn(type="button") Умови зберігання
                li.tabs__nav-item
                    button.tabs__nav-btn(type="button") Упаковка
                li.tabs__nav-item
                    button.tabs__nav-btn(type="button") Побічні реакції
    
    .container.container--fluid
        .tabs-content.blog-page-section__tabs-content(data-tabs-content="tabs-1")
            .tabs-panel
                ul.blog-page-section__list
                    li.blog-page-section__item.animation-down
                        a.blog-card(href="#")
                            .blog-card__descr
                                picture.blog-card__picture
                                    img.blog-card__img(src="img/blog-img-small.webp" srcset="img/blog-img-small@2x.webp 2x" loading="lazy" width="152" height="125"  alt="alt")
                                
                                h3.blog-card__title Fidia Academy AWC - Вебінари

                                span.blog-card__more
                                    svg.blog-card__more-icon(width="8" height="12")
                                        use(xlink:href="img/sprite.svg#arrow-right")

                            .blog-card__info
                                span.blog-card__category Long Category Title
                                time.blog-card__date 21.05.2023
                    
                    li.blog-page-section__item.animation-down
                        a.blog-card(href="#")
                            .blog-card__descr
                                picture.blog-card__picture
                                    img.blog-card__img(src="img/blog-img-small.webp" srcset="img/blog-img-small@2x.webp 2x" loading="lazy" width="152" height="125"  alt="alt")
                                
                                h3.blog-card__title Відкрийте для себе гіалуронову кислоту (ГК) у загоєнні ран

                                span.blog-card__more
                                    svg.blog-card__more-icon(width="8" height="12")
                                        use(xlink:href="img/sprite.svg#arrow-right")

                            .blog-card__info
                                span.blog-card__category Medical
                                time.blog-card__date 1.05.2023
                    
                    li.blog-page-section__item.animation-down
                        a.blog-card(href="#")
                            .blog-card__descr
                                picture.blog-card__picture
                                    img.blog-card__img(src="img/blog-img-small.webp" srcset="img/blog-img-small@2x.webp 2x" loading="lazy" width="152" height="125"  alt="alt")
                                
                                h3.blog-card__title Відкрийте для себе рішення регенеративної медицини для загоєння ран

                                span.blog-card__more
                                    svg.blog-card__more-icon(width="8" height="12")
                                        use(xlink:href="img/sprite.svg#arrow-right")

                            .blog-card__info
                                span.blog-card__category Medical
                                time.blog-card__date 21.05.2023
                    
                    li.blog-page-section__item.animation-down
                        a.blog-card(href="#")
                            .blog-card__descr
                                picture.blog-card__picture
                                    img.blog-card__img(src="img/blog-img-small.webp" srcset="img/blog-img-small@2x.webp 2x" loading="lazy" width="152" height="125"  alt="alt")
                                
                                h3.blog-card__title Думка Wound Experts щодо продукції Fidia

                                span.blog-card__more
                                    svg.blog-card__more-icon(width="8" height="12")
                                        use(xlink:href="img/sprite.svg#arrow-right")

                            .blog-card__info
                                span.blog-card__category Medical
                                time.blog-card__date 21.05.2023

            .tabs-panel
                ul.blog-page-section__list
                    li.blog-page-section__item.animation-down
                        a.blog-card(href="#")
                            .blog-card__descr
                                picture.blog-card__picture
                                    img.blog-card__img(src="img/blog-img-small.webp" srcset="img/blog-img-small@2x.webp 2x" loading="lazy" width="152" height="125"  alt="alt")
                                
                                h3.blog-card__title Fidia Academy AWC - Вебінари

                                span.blog-card__more
                                    svg.blog-card__more-icon(width="8" height="12")
                                        use(xlink:href="img/sprite.svg#arrow-right")

                            .blog-card__info
                                span.blog-card__category Long Category Title
                                time.blog-card__date 21.05.2023
            .tabs-panel
                ul.blog-page-section__list
                    li.blog-page-section__item.animation-down
                        a.blog-card(href="#")
                            .blog-card__descr
                                picture.blog-card__picture
                                    img.blog-card__img(src="img/blog-img-small.webp" srcset="img/blog-img-small@2x.webp 2x" loading="lazy" width="152" height="125"  alt="alt")
                                
                                h3.blog-card__title Fidia Academy AWC - Вебінари

                                span.blog-card__more
                                    svg.blog-card__more-icon(width="8" height="12")
                                        use(xlink:href="img/sprite.svg#arrow-right")

                            .blog-card__info
                                span.blog-card__category Long Category Title
                                time.blog-card__date 21.05.2023
            .tabs-panel
                ul.blog-page-section__list
                    li.blog-page-section__item.animation-down
                        a.blog-card(href="#")
                            .blog-card__descr
                                picture.blog-card__picture
                                    img.blog-card__img(src="img/blog-img-small.webp" srcset="img/blog-img-small@2x.webp 2x" loading="lazy" width="152" height="125"  alt="alt")
                                
                                h3.blog-card__title Fidia Academy AWC - Вебінари

                                span.blog-card__more
                                    svg.blog-card__more-icon(width="8" height="12")
                                        use(xlink:href="img/sprite.svg#arrow-right")

                            .blog-card__info
                                span.blog-card__category Long Category Title
                                time.blog-card__date 21.05.2023
            .tabs-panel
                ul.blog-page-section__list
                    li.blog-page-section__item.animation-down
                        a.blog-card(href="#")
                            .blog-card__descr
                                picture.blog-card__picture
                                    img.blog-card__img(src="img/blog-img-small.webp" srcset="img/blog-img-small@2x.webp 2x" loading="lazy" width="152" height="125"  alt="alt")
                                
                                h3.blog-card__title Fidia Academy AWC - Вебінари

                                span.blog-card__more
                                    svg.blog-card__more-icon(width="8" height="12")
                                        use(xlink:href="img/sprite.svg#arrow-right")

                            .blog-card__info
                                span.blog-card__category Long Category Title
                                time.blog-card__date 21.05.2023
            .tabs-panel
                ul.blog-page-section__list
                    li.blog-page-section__item.animation-down
                        a.blog-card(href="#")
                            .blog-card__descr
                                picture.blog-card__picture
                                    img.blog-card__img(src="img/blog-img-small.webp" srcset="img/blog-img-small@2x.webp 2x" loading="lazy" width="152" height="125"  alt="alt")
                                
                                h3.blog-card__title Fidia Academy AWC - Вебінари

                                span.blog-card__more
                                    svg.blog-card__more-icon(width="8" height="12")
                                        use(xlink:href="img/sprite.svg#arrow-right")

                            .blog-card__info
                                span.blog-card__category Long Category Title
                                time.blog-card__date 21.05.2023
            .tabs-panel
                ul.blog-page-section__list
                    li.blog-page-section__item.animation-down
                        a.blog-card(href="#")
                            .blog-card__descr
                                picture.blog-card__picture
                                    img.blog-card__img(src="img/blog-img-small.webp" srcset="img/blog-img-small@2x.webp 2x" loading="lazy" width="152" height="125"  alt="alt")
                                
                                h3.blog-card__title Fidia Academy AWC - Вебінари

                                span.blog-card__more
                                    svg.blog-card__more-icon(width="8" height="12")
                                        use(xlink:href="img/sprite.svg#arrow-right")

                            .blog-card__info
                                span.blog-card__category Long Category Title
                                time.blog-card__date 21.05.2023
            .tabs-panel
                ul.blog-page-section__list
                    li.blog-page-section__item.animation-down
                        a.blog-card(href="#")
                            .blog-card__descr
                                picture.blog-card__picture
                                    img.blog-card__img(src="img/blog-img-small.webp" srcset="img/blog-img-small@2x.webp 2x" loading="lazy" width="152" height="125"  alt="alt")
                                
                                h3.blog-card__title Fidia Academy AWC - Вебінари

                                span.blog-card__more
                                    svg.blog-card__more-icon(width="8" height="12")
                                        use(xlink:href="img/sprite.svg#arrow-right")

                            .blog-card__info
                                span.blog-card__category Long Category Title
                                time.blog-card__date 21.05.2023