section#categories-section.categories-section
    .container.categories-section__container
        h2.section-title.categories-section__title.animation-down Категорії товарів
    
    .swiper.categories-slider.animation-down
        .swiper-wrapper
            .swiper-slide.categories-slider__slide
                a.category-card(href="#")
                    picture.category-card__picture
                        img.category-card__img(src="img/category-img-1.webp" srcset="img/category-img-1@2x.webp 2x" loading="lazy" width="270" height="377"  alt="alt")
                    
                    .category-card__content
                        h3.category-card__title Вітамини
                        .category-card__count 8 продуктів
                        .category-card__more Детальніше
                            svg.category-card__more-icon(width="7" height="11")
                                use(xlink:href="img/sprite.svg#arrow-right")
            
            .swiper-slide.categories-slider__slide
                a.category-card(href="#")
                    picture.category-card__picture
                        img.category-card__img(src="img/category-img-2.webp" srcset="img/category-img-2@2x.webp 2x" loading="lazy" width="270" height="377"  alt="alt")
                    
                    .category-card__content
                        h3.category-card__title Безрецептурні
                        .category-card__count 16 продуктів
                        .category-card__more Детальніше
                            svg.category-card__more-icon(width="7" height="11")
                                use(xlink:href="img/sprite.svg#arrow-right")
            
            .swiper-slide.categories-slider__slide
                a.category-card(href="#")
                    picture.category-card__picture
                        img.category-card__img(src="img/category-img-3.webp" srcset="img/category-img-3@2x.webp 2x" loading="lazy" width="270" height="377"  alt="alt")
                    
                    .category-card__content
                        h3.category-card__title Рецептурні
                        .category-card__count 24 продуктів
                        .category-card__more Детальніше
                            svg.category-card__more-icon(width="7" height="11")
                                use(xlink:href="img/sprite.svg#arrow-right")
            
            .swiper-slide.categories-slider__slide
                a.category-card(href="#")
                    picture.category-card__picture
                        img.category-card__img(src="img/category-img-4.webp" srcset="img/category-img-4@2x.webp 2x" loading="lazy" width="270" height="377"  alt="alt")
                    
                    .category-card__content
                        h3.category-card__title Дієтичні добавки
                        .category-card__count 8 продуктів
                        .category-card__more Детальніше
                            svg.category-card__more-icon(width="7" height="11")
                                use(xlink:href="img/sprite.svg#arrow-right")
            
            .swiper-slide.categories-slider__slide
                a.category-card(href="#")
                    picture.category-card__picture
                        img.category-card__img(src="img/category-img-5.webp" srcset="img/category-img-5@2x.webp 2x" loading="lazy" width="270" height="377"  alt="alt")
                    
                    .category-card__content
                        h3.category-card__title Інші групи
                        .category-card__count 16 продуктів
                        .category-card__more Детальніше
                            svg.category-card__more-icon(width="7" height="11")
                                use(xlink:href="img/sprite.svg#arrow-right")
            
            .swiper-slide.categories-slider__slide
                a.category-card(href="#")
                    picture.category-card__picture
                        img.category-card__img(src="img/category-img-6.webp" srcset="img/category-img-6@2x.webp 2x" loading="lazy" width="270" height="377"  alt="alt")
                    
                    .category-card__content
                        h3.category-card__title Кардіолгія
                        .category-card__count 24 продуктів
                        .category-card__more Детальніше
                            svg.category-card__more-icon(width="7" height="11")
                                use(xlink:href="img/sprite.svg#arrow-right")

        .swiper-scrollbar.categories-slider__scrollbar
