section.expertise-section
    .container.expertise-section__container
        h2.section-title.expertise-section__title Експертиза

    ul.expertise-section__list
        li.expertise-section__item
            .expertise-card
                picture.expertise-card__picture.animation-fade
                    img.expertise-card__img(src="img/expertise-img-1.webp" srcset="img/expertise-img-1@2x.webp 2x" loading="lazy" width="960" height="377"  alt="alt")
                
                .expertise-card__content
                    .expertise-card__inner.animation-right
                        h3.expertise-card__title Вчора
                        p.expertise-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                        .expertise-card__number 01
        
        li.expertise-section__item
            .expertise-card.expertise-card--reverse
                picture.expertise-card__picture.animation-fade
                    img.expertise-card__img(src="img/expertise-img-2.webp" srcset="img/expertise-img-2@2x.webp 2x" loading="lazy" width="960" height="377"  alt="alt")
                
                .expertise-card__content
                    .expertise-card__inner.animation-left
                        h3.expertise-card__title Вчора
                        p.expertise-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                        .expertise-card__number 02
        
        li.expertise-section__item
            .expertise-card
                picture.expertise-card__picture.animation-fade
                    img.expertise-card__img(src="img/expertise-img-3.webp" srcset="img/expertise-img-3@2x.webp 2x" loading="lazy" width="960" height="377"  alt="alt")
                
                .expertise-card__content
                    .expertise-card__inner.animation-right
                        h3.expertise-card__title Вчора
                        p.expertise-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                        .expertise-card__number 03
        
        li.expertise-section__item
            .expertise-card.expertise-card--reverse
                picture.expertise-card__picture.animation-fade
                    img.expertise-card__img(src="img/expertise-img-4.webp" srcset="img/expertise-img-4@2x.webp 2x" loading="lazy" width="960" height="377"  alt="alt")
                
                .expertise-card__content
                    .expertise-card__inner.animation-left
                        h3.expertise-card__title Вчора
                        p.expertise-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                        .expertise-card__number 04