section.history-section
    .container.history-section__container
        h2.section-title.history-section__title.animation-down Наша історія

        .history-section__row
            .history-section__col.animation-down
                picture.history-section__picture
                    img.history-section__img(src="img/history-img.webp" srcset="img/history-img@2x.webp 2x" loading="lazy" width="874" height="456"  alt="alt")

            .history-section__col.animation-down
                ul.history-list
                    li.history-list__item
                        .history-list__header
                            .history-list__year 2009 рік
                        
                        .history-list__text
                            p «Євролек-Україна» систематично проводить комплексні ринкові та маркетингові дослідження, що охоплюють фармацевтичний ринок України, який динамічно розвивається.
                
                    li.history-list__item
                        .history-list__header
                            .history-list__year 2012 рік
                        
                        .history-list__text
                            p «Євролек-Україна» систематично проводить комплексні ринкові та маркетингові дослідження, що охоплюють фармацевтичний ринок України, який динамічно розвивається.
                    
                    li.history-list__item
                        .history-list__header
                            .history-list__year 2015 рік
                        
                        .history-list__text
                            p «Євролек-Україна» систематично проводить комплексні ринкові та маркетингові дослідження, що охоплюють фармацевтичний ринок України, який динамічно розвивається.
                    
                    li.history-list__item
                        .history-list__header
                            .history-list__year 2012 рік
                        
                        .history-list__text
                            p «Євролек-Україна» систематично проводить комплексні ринкові та маркетингові дослідження, що охоплюють фармацевтичний ринок України, який динамічно розвивається.
                    
                    li.history-list__item
                        .history-list__header
                            .history-list__year 2015 рік
                        
                        .history-list__text
                            p «Євролек-Україна» систематично проводить комплексні ринкові та маркетингові дослідження, що охоплюють фармацевтичний ринок України, який динамічно розвивається.
                    
                    li.history-list__item
                        .history-list__header
                            .history-list__year 2022 рік
                        
                        .history-list__text
                            p «Євролек-Україна» систематично проводить комплексні ринкові та маркетингові дослідження, що охоплюють фармацевтичний ринок України, який динамічно розвивається.