section.invite-section
    .container.invite-section__container
        h2.section-title.invite-section__title.animation-down Запрошуємо в нашу команду

        .invite-section__descr.animation-down
            p Компанія ТОВ «ЕВРОЛЕК-УКРАЇНА» планує подальше розширення своєї присутності в регіонах.
            p У зв’язку з цим триває набір медичних представників у багатьох містах України.

        .invite-section__info.animation-down
            p Відправляйте своє резюме на електронну адресу: 
                a(href="mailto:info@eurolek.com.ua") info@eurolek.com.ua

    .container.container--fluid
        .swiper.invite-slider.animation-down
            .swiper-wrapper
                .swiper-slide.invite-slider__slide
                    a.vacancy-card(href="#")
                        h3.vacancy-card__title Головний лікар
                        .vacancy-card__location.vacancy-card__location--visible-md
                            svg.vacancy-card__location-icon(width="19" height="23")
                                use(xlink:href="img/sprite.svg#location")
                            | Івано-Франківськ, Одеса
                            
                        p.vacancy-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                        
                        .vacancy-card__bottom
                            .vacancy-card__more Детальніше
                                svg.vacancy-card__more-icon(width="7" height="11")
                                    use(xlink:href="img/sprite.svg#arrow-right")
                            
                            .vacancy-card__location.vacancy-card__location--hidden-md
                                svg.vacancy-card__location-icon(width="19" height="23")
                                    use(xlink:href="img/sprite.svg#location")
                                | Івано-Франківськ, Одеса
                
                .swiper-slide.invite-slider__slide
                    a.vacancy-card(href="#")
                        h3.vacancy-card__title Головний лікар
                        .vacancy-card__location.vacancy-card__location--visible-md
                            svg.vacancy-card__location-icon(width="19" height="23")
                                use(xlink:href="img/sprite.svg#location")
                            | Івано-Франківськ, Одеса
                            
                        p.vacancy-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                        
                        .vacancy-card__bottom
                            .vacancy-card__more Детальніше
                                svg.vacancy-card__more-icon(width="7" height="11")
                                    use(xlink:href="img/sprite.svg#arrow-right")
                            
                            .vacancy-card__location.vacancy-card__location--hidden-md
                                svg.vacancy-card__location-icon(width="19" height="23")
                                    use(xlink:href="img/sprite.svg#location")
                                | Івано-Франківськ, Одеса
                
                .swiper-slide.invite-slider__slide
                    a.vacancy-card(href="#")
                        h3.vacancy-card__title Головний лікар
                        .vacancy-card__location.vacancy-card__location--visible-md
                            svg.vacancy-card__location-icon(width="19" height="23")
                                use(xlink:href="img/sprite.svg#location")
                            | Івано-Франківськ, Одеса
                            
                        p.vacancy-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                        
                        .vacancy-card__bottom
                            .vacancy-card__more Детальніше
                                svg.vacancy-card__more-icon(width="7" height="11")
                                    use(xlink:href="img/sprite.svg#arrow-right")
                            
                            .vacancy-card__location.vacancy-card__location--hidden-md
                                svg.vacancy-card__location-icon(width="19" height="23")
                                    use(xlink:href="img/sprite.svg#location")
                                | Івано-Франківськ, Одеса
                                
                .swiper-slide.invite-slider__slide
                    a.vacancy-card(href="#")
                        h3.vacancy-card__title Головний лікар
                        .vacancy-card__location.vacancy-card__location--visible-md
                            svg.vacancy-card__location-icon(width="19" height="23")
                                use(xlink:href="img/sprite.svg#location")
                            | Івано-Франківськ, Одеса
                            
                        p.vacancy-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                        
                        .vacancy-card__bottom
                            .vacancy-card__more Детальніше
                                svg.vacancy-card__more-icon(width="7" height="11")
                                    use(xlink:href="img/sprite.svg#arrow-right")
                            
                            .vacancy-card__location.vacancy-card__location--hidden-md
                                svg.vacancy-card__location-icon(width="19" height="23")
                                    use(xlink:href="img/sprite.svg#location")
                                | Івано-Франківськ, Одеса
                
                .swiper-slide.invite-slider__slide
                    a.vacancy-card(href="#")
                        h3.vacancy-card__title Головний лікар
                        .vacancy-card__location.vacancy-card__location--visible-md
                            svg.vacancy-card__location-icon(width="19" height="23")
                                use(xlink:href="img/sprite.svg#location")
                            | Івано-Франківськ, Одеса
                            
                        p.vacancy-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                        
                        .vacancy-card__bottom
                            .vacancy-card__more Детальніше
                                svg.vacancy-card__more-icon(width="7" height="11")
                                    use(xlink:href="img/sprite.svg#arrow-right")
                            
                            .vacancy-card__location.vacancy-card__location--hidden-md
                                svg.vacancy-card__location-icon(width="19" height="23")
                                    use(xlink:href="img/sprite.svg#location")
                                | Івано-Франківськ, Одеса
                
                .swiper-slide.invite-slider__slide
                    a.vacancy-card(href="#")
                        h3.vacancy-card__title Головний лікар
                        .vacancy-card__location.vacancy-card__location--visible-md
                            svg.vacancy-card__location-icon(width="19" height="23")
                                use(xlink:href="img/sprite.svg#location")
                            | Івано-Франківськ, Одеса
                            
                        p.vacancy-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                        
                        .vacancy-card__bottom
                            .vacancy-card__more Детальніше
                                svg.vacancy-card__more-icon(width="7" height="11")
                                    use(xlink:href="img/sprite.svg#arrow-right")
                            
                            .vacancy-card__location.vacancy-card__location--hidden-md
                                svg.vacancy-card__location-icon(width="19" height="23")
                                    use(xlink:href="img/sprite.svg#location")
                                | Івано-Франківськ, Одеса
                                
                .swiper-slide.invite-slider__slide
                    a.vacancy-card(href="#")
                        h3.vacancy-card__title Головний лікар
                        .vacancy-card__location.vacancy-card__location--visible-md
                            svg.vacancy-card__location-icon(width="19" height="23")
                                use(xlink:href="img/sprite.svg#location")
                            | Івано-Франківськ, Одеса
                            
                        p.vacancy-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                        
                        .vacancy-card__bottom
                            .vacancy-card__more Детальніше
                                svg.vacancy-card__more-icon(width="7" height="11")
                                    use(xlink:href="img/sprite.svg#arrow-right")
                            
                            .vacancy-card__location.vacancy-card__location--hidden-md
                                svg.vacancy-card__location-icon(width="19" height="23")
                                    use(xlink:href="img/sprite.svg#location")
                                | Івано-Франківськ, Одеса
                
                .swiper-slide.invite-slider__slide
                    a.vacancy-card(href="#")
                        h3.vacancy-card__title Головний лікар
                        .vacancy-card__location.vacancy-card__location--visible-md
                            svg.vacancy-card__location-icon(width="19" height="23")
                                use(xlink:href="img/sprite.svg#location")
                            | Івано-Франківськ, Одеса
                            
                        p.vacancy-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                        
                        .vacancy-card__bottom
                            .vacancy-card__more Детальніше
                                svg.vacancy-card__more-icon(width="7" height="11")
                                    use(xlink:href="img/sprite.svg#arrow-right")
                            
                            .vacancy-card__location.vacancy-card__location--hidden-md
                                svg.vacancy-card__location-icon(width="19" height="23")
                                    use(xlink:href="img/sprite.svg#location")
                                | Івано-Франківськ, Одеса
                
                .swiper-slide.invite-slider__slide
                    a.vacancy-card(href="#")
                        h3.vacancy-card__title Головний лікар
                        .vacancy-card__location.vacancy-card__location--visible-md
                            svg.vacancy-card__location-icon(width="19" height="23")
                                use(xlink:href="img/sprite.svg#location")
                            | Івано-Франківськ, Одеса
                            
                        p.vacancy-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                        
                        .vacancy-card__bottom
                            .vacancy-card__more Детальніше
                                svg.vacancy-card__more-icon(width="7" height="11")
                                    use(xlink:href="img/sprite.svg#arrow-right")
                            
                            .vacancy-card__location.vacancy-card__location--hidden-md
                                svg.vacancy-card__location-icon(width="19" height="23")
                                    use(xlink:href="img/sprite.svg#location")
                                | Івано-Франківськ, Одеса
                                
                .swiper-slide.invite-slider__slide
                    a.vacancy-card(href="#")
                        h3.vacancy-card__title Головний лікар
                        .vacancy-card__location.vacancy-card__location--visible-md
                            svg.vacancy-card__location-icon(width="19" height="23")
                                use(xlink:href="img/sprite.svg#location")
                            | Івано-Франківськ, Одеса
                            
                        p.vacancy-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                        
                        .vacancy-card__bottom
                            .vacancy-card__more Детальніше
                                svg.vacancy-card__more-icon(width="7" height="11")
                                    use(xlink:href="img/sprite.svg#arrow-right")
                            
                            .vacancy-card__location.vacancy-card__location--hidden-md
                                svg.vacancy-card__location-icon(width="19" height="23")
                                    use(xlink:href="img/sprite.svg#location")
                                | Івано-Франківськ, Одеса
                
                .swiper-slide.invite-slider__slide
                    a.vacancy-card(href="#")
                        h3.vacancy-card__title Головний лікар
                        .vacancy-card__location.vacancy-card__location--visible-md
                            svg.vacancy-card__location-icon(width="19" height="23")
                                use(xlink:href="img/sprite.svg#location")
                            | Івано-Франківськ, Одеса
                            
                        p.vacancy-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                        
                        .vacancy-card__bottom
                            .vacancy-card__more Детальніше
                                svg.vacancy-card__more-icon(width="7" height="11")
                                    use(xlink:href="img/sprite.svg#arrow-right")
                            
                            .vacancy-card__location.vacancy-card__location--hidden-md
                                svg.vacancy-card__location-icon(width="19" height="23")
                                    use(xlink:href="img/sprite.svg#location")
                                | Івано-Франківськ, Одеса
                
                .swiper-slide.invite-slider__slide
                    a.vacancy-card(href="#")
                        h3.vacancy-card__title Головний лікар
                        .vacancy-card__location.vacancy-card__location--visible-md
                            svg.vacancy-card__location-icon(width="19" height="23")
                                use(xlink:href="img/sprite.svg#location")
                            | Івано-Франківськ, Одеса
                            
                        p.vacancy-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                        
                        .vacancy-card__bottom
                            .vacancy-card__more Детальніше
                                svg.vacancy-card__more-icon(width="7" height="11")
                                    use(xlink:href="img/sprite.svg#arrow-right")
                            
                            .vacancy-card__location.vacancy-card__location--hidden-md
                                svg.vacancy-card__location-icon(width="19" height="23")
                                    use(xlink:href="img/sprite.svg#location")
                                | Івано-Франківськ, Одеса

            .swiper-scrollbar.invite-slider__scrollbar