section.mission-section
    .container.mission-section__container
        .mission-section__row
            .mission-section__col
                ul.mission-section__list
                    li.mission-section__item.animation-down
                        .mission-card
                            .mission-card__header
                                h3.mission-card__title Місія
                                button.button.mission-card__toggle(type="button")
                                    svg.mission-card__toggle-icon(width="22" height="13")
                                        use(xlink:href="img/sprite.svg#arrow-down")
                            
                            .mission-card__body
                                p «Євролек-Україна» систематично проводить комплексні ринкові та маркетингові дослідження, що охоплюють фармацевтичний ринок України, який динамічно розвивається.

                    li.mission-section__item.animation-down
                        .mission-card
                            .mission-card__header
                                h3.mission-card__title Бачення
                                button.button.mission-card__toggle(type="button")
                                    svg.mission-card__toggle-icon(width="22" height="13")
                                        use(xlink:href="img/sprite.svg#arrow-down")
                            
                            .mission-card__body
                                p «Євролек-Україна» систематично проводить комплексні ринкові та маркетингові дослідження, що охоплюють фармацевтичний ринок України, який динамічно розвивається.

                    li.mission-section__item.animation-down
                        .mission-card
                            .mission-card__header
                                h3.mission-card__title Цінності
                                button.button.mission-card__toggle(type="button")
                                    svg.mission-card__toggle-icon(width="22" height="13")
                                        use(xlink:href="img/sprite.svg#arrow-down")
                            
                            .mission-card__body
                                p «Євролек-Україна» систематично проводить комплексні ринкові та маркетингові дослідження, що охоплюють фармацевтичний ринок України, який динамічно розвивається.

                    li.mission-section__item.animation-down
                        .mission-card
                            .mission-card__header
                                h3.mission-card__title Можливості
                                button.button.mission-card__toggle(type="button")
                                    svg.mission-card__toggle-icon(width="22" height="13")
                                        use(xlink:href="img/sprite.svg#arrow-down")
                            
                            .mission-card__body
                                p «Євролек-Україна» систематично проводить комплексні ринкові та маркетингові дослідження, що охоплюють фармацевтичний ринок України, який динамічно розвивається.

            .mission-section__col
                .manager
                    picture.manager__picture
                        img.manager__img(src="img/manager-img.webp" srcset="img/manager-img@2x.webp 2x" loading="lazy" width="535" height="591"  alt="alt")
                    
                    .manager__descr.animation-down
                        h3.manager__name Іван Іванов
                        p.manager__position Керівник

        .swiper.mission-slider.animation-down
            .swiper-wrapper
                .swiper-slide.mission-slider__slide
                    picture.mission-slider__picture
                        img.mission-slider__img(src="img/mission-img.webp" srcset="img/mission-img@2x.webp 2x" loading="lazy" width="1170" height="457"  alt="alt")
                
                .swiper-slide.mission-slider__slide
                    picture.mission-slider__picture
                        img.mission-slider__img(src="img/mission-img.webp" srcset="img/mission-img@2x.webp 2x" loading="lazy" width="1170" height="457"  alt="alt")
                
                .swiper-slide.mission-slider__slide
                    picture.mission-slider__picture
                        img.mission-slider__img(src="img/mission-img.webp" srcset="img/mission-img@2x.webp 2x" loading="lazy" width="1170" height="457"  alt="alt")
            
            .swiper-button-next.swiper-button-next--blue.mission-slider__next
            .swiper-button-prev.swiper-button-prev--blue.mission-slider__prev
            .swiper-pagination