section.partners-section
    .container.partners-section__container
        h2.section-title.partners-section__title.animation-down Партнери

    ul.partners-list
        li.partners-list__item.animation-down
            picture.partners-list__picture
                img.partners-list__img(src="img/partners/partner-1.webp" srcset="img/partners/partner-1@2x.webp 2x" loading="lazy" width="260" height="100"  alt="alt")
            h3.partners-list__title FARMINA SP. Z O.O., Польща
        
        li.partners-list__item.animation-down
            picture.partners-list__picture
                img.partners-list__img(src="img/partners/partner-2.webp" srcset="img/partners/partner-2@2x.webp 2x" loading="lazy" width="260" height="100"  alt="alt")
            h3.partners-list__title PHARMACY LABORATORIES S.C., Польща
        
        li.partners-list__item.animation-down
            picture.partners-list__picture
                img.partners-list__img(src="img/partners/partner-3.webp" srcset="img/partners/partner-3@2x.webp 2x" loading="lazy" width="260" height="100"  alt="alt")
            h3.partners-list__title LABORELL SP. Z O.O. SP.K., Польща
        
        li.partners-list__item.animation-down
            picture.partners-list__picture
                img.partners-list__img(src="img/partners/partner-4.webp" srcset="img/partners/partner-4@2x.webp 2x" loading="lazy" width="260" height="100"  alt="alt")
            h3.partners-list__title FARMA-DERMA S.R.L., Італія
        
        li.partners-list__item.animation-down
            picture.partners-list__picture
                img.partners-list__img(src="img/partners/partner-5.webp" srcset="img/partners/partner-5@2x.webp 2x" loading="lazy" width="260" height="100"  alt="alt")
            h3.partners-list__title LABORATORIO CHIMICO FARMACEUTICO “A. SELLA” S.R.L., Італія
        
        li.partners-list__item.animation-down
            picture.partners-list__picture
                img.partners-list__img(src="img/partners/partner-6.webp" srcset="img/partners/partner-6@2x.webp 2x" loading="lazy" width="260" height="100"  alt="alt")
            h3.partners-list__title FIDIA FARMACEUTICI S.P.A., Італія
        
        li.partners-list__item.animation-down
            picture.partners-list__picture
                img.partners-list__img(src="img/partners/partner-7.webp" srcset="img/partners/partner-7@2x.webp 2x" loading="lazy" width="260" height="100"  alt="alt")
            h3.partners-list__title FASTMEDITALIA S.R.L, Італія
        
        li.partners-list__item.animation-down
            picture.partners-list__picture
                img.partners-list__img(src="img/partners/partner-8.webp" srcset="img/partners/partner-8@2x.webp 2x" loading="lazy" width="260" height="100"  alt="alt")
            h3.partners-list__title EURORESEARCH S.R.L, Італія
        
        li.partners-list__item.animation-down
            picture.partners-list__picture
                img.partners-list__img(src="img/partners/partner-9.webp" srcset="img/partners/partner-9@2x.webp 2x" loading="lazy" width="260" height="100"  alt="alt")
            h3.partners-list__title SPREEWÄLDER ARZNEIMITTEL GMBH, Німеччина
        
        li.partners-list__item.animation-down
            picture.partners-list__picture
                img.partners-list__img(src="img/partners/partner-10.webp" srcset="img/partners/partner-10@2x.webp 2x" loading="lazy" width="260" height="100"  alt="alt")
            h3.partners-list__title CYDONIA D.O.O., Боснія і Герцеговина
        
        li.partners-list__item.animation-down
            picture.partners-list__picture
                img.partners-list__img(src="img/partners/partner-11.webp" srcset="img/partners/partner-11@2x.webp 2x" loading="lazy" width="260" height="100"  alt="alt")
            h3.partners-list__title Babuline Pharma Pvt. Ltd., Індія
        
        li.partners-list__item.animation-down
            picture.partners-list__picture
                img.partners-list__img(src="img/partners/partner-12.webp" srcset="img/partners/partner-12@2x.webp 2x" loading="lazy" width="260" height="100"  alt="alt")
            h3.partners-list__title AESCULAPIUS FARMACEUTICI S.R.L., Італія
        
        li.partners-list__item.animation-down
            picture.partners-list__picture
                img.partners-list__img(src="img/partners/partner-13.webp" srcset="img/partners/partner-13@2x.webp 2x" loading="lazy" width="260" height="100"  alt="alt")
            h3.partners-list__title DIRECTSALUD S.L.U., Іспанія
