section.pharma-info-section
    .container.pharma-info-section__container
        .pharma-info-section__row
            .pharma-info-section__col
                .info.animation-down
                    svg.info__icon(width="41" height="41")
                        use(xlink:href="img/sprite.svg#info-1")
                        
                    h3.info__title Якщо Ви пацієнт/споживач 
                        br
                        | лікарського засобу
                    .info__text
                        p Та бажаєте повідомити про побічну реакцію, що виникли на тлі застосування лікарського засобу представленого компанією «Євролек-Україна», для цього вам необхідно:
                        ul.info__check-list
                            li Передати інформацію своєму лікарю.
                            li Надіслати інформацію щодо побічної реакції у «Державний експертний центр МОЗ України», заповнивши електронну форму карти-повідомлення за 
                                a(href="#") посиланням

            .pharma-info-section__col
                .info.animation-down
                    svg.info__icon(width="37" height="41")
                        use(xlink:href="img/sprite.svg#info-2")
                        
                    h3.info__title Якщо Ви медичний або фармацевтичний працівник
                    .info__text
                        p Та бажаєте повідомити про побічну реакцію, що виникли на тлі застосування лікарського засобу представленого компанією «Євролек-Україна», для цього вам необхідно:
                        ul.info__check-list
                            li Надіслати інформацію щодо побічної реакції у «Державний експертний центр МОЗ України», заповнивши електронну форму карти-повідомлення за 
                                a(href="#") посиланням
        
        .pharma-info-section__text.animation-down
            p Також необхідно надіслати інформацію про побічні реакції на електронну адресу eurolek@eurolek.com.ua, або звернутися до офісу компанії «Євролек-Україна» за телефоном 
                a(href="tel:+380675719619") +38067-571-96-19
                | .
