section.pharma-section
    .container.pharma-section__container
        nav.breadcrumbs.animation-down(aria-label="breadcrumb")
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Головна
                li.breadcrumbs__item(aria-current="page") Фармаконагляд

        h2.section-title.pharma-section__title.animation-down Фармаконагляд
        
        .info.animation-down
            svg.info__icon(width="41" height="41")
                use(xlink:href="img/sprite.svg#info")
                
            h3.info__title Що таке фармаконагляд
            .info__text
                p Фармаконагляд це діяльність, що пов’язана з виявленням, оцінкою, розумінням та профілактикою несприятливих негативних наслідків або будь-яких інших проблем, пов’язаних з лікарськими засобами.
                p Основними об’єктами спостереження системи фармаконагляду є побічні реакції лікарських засобів та випадки відсутності ефективності ліків при їх медичному застосуванні.
                p ТОВ «Євролек -Україна» відповідальна за організацію системи фармаконагляду для лікарських засобів партнерів на території України.
                p Функціонування системи фармаконагляду відбувається в суворій відповідності з міжнародними директивами та українським законодавством.
                p Система включає в себе збір інформації від всіх суб’єктів обігу лікарського засобу (пацієнтів, фармацевтів, лікарів та ін.) в умовах реальної клінічної практики.
