section.product-section
    .container.product-section__container
        nav.breadcrumbs.animation-down(aria-label="breadcrumb")
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Головна
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Продукція
                li.breadcrumbs__item(aria-current="page") РЕСПИКС®

        h2.section-title.product-section__title.animation-down РЕСПИКС®

        .product-section__inner
            .product-section__col.animation-down
                .swiper.product-slider
                    .swiper-wrapper
                        .swiper-slide.product-slider__slide
                            picture.product-slider__picture
                                img.product-slider__img(src="img/product-img-big.webp" srcset="img/product-img-big@2x.webp 2x" loading="lazy" width="388" height="304"  alt="alt")
                        
                        .swiper-slide.product-slider__slide
                            picture.product-slider__picture
                                img.product-slider__img(src="img/product-img-big.webp" srcset="img/product-img-big@2x.webp 2x" loading="lazy" width="388" height="304"  alt="alt")
                        
                        .swiper-slide.product-slider__slide
                            picture.product-slider__picture
                                img.product-slider__img(src="img/product-img-big.webp" srcset="img/product-img-big@2x.webp 2x" loading="lazy" width="388" height="304"  alt="alt")
                    
                    .swiper-button-next
                    .swiper-button-prev
                
            .product-section__col.animation-down
                .product-descr
                    h3.product-descr__title Показання:
                    ul.product-descr__list
                        li Хронічні запальні процеси маткових придатків;
                        li Післяопераційні інфільтративні ураження органів малого таза;
                        li Ендометрит;
                        li Геморої при гострому та хронічному перебігу;
                        li Праректальні абсцеси і свищі з великим запальним інфільтратом;
                        li Гнійні каудальні кісти.

                    .product-descr__text
                        p Фарміна Лтд.
                        p Місцезнаходження виробника та адреса місця провадження його діяльності.
                        p Вул. Ліпска 44, 30-721, м. Краків, Польща.
        
        .tabs.product-section__tabs.animation-down(data-tabs="tabs-1")
            button.button.tabs__toggle(type="button") 

            ul.tabs__nav
                li.tabs__nav-item
                    button.tabs__nav-btn(type="button") Інструкція
                li.tabs__nav-item
                    button.tabs__nav-btn(type="button") Склад
                li.tabs__nav-item
                    button.tabs__nav-btn(type="button") Протипоказання
                li.tabs__nav-item
                    button.tabs__nav-btn(type="button") Особливості застосування
                li.tabs__nav-item
                    button.tabs__nav-btn(type="button") Спосіб застосування
                li.tabs__nav-item
                    button.tabs__nav-btn(type="button") Умови зберігання
                li.tabs__nav-item
                    button.tabs__nav-btn(type="button") Упаковка
                li.tabs__nav-item
                    button.tabs__nav-btn(type="button") Побічні реакції
        
            .tabs-content.product-section__tabs-content(data-tabs-content="tabs-1")
                .tabs-panel
                    p для медичного застосування лікарського засобу
                    p СК-СД, стрептокіназа-стрептодорназа
                    p (SK-SD, streptokinase-streptodornase)

                .tabs-panel
                    p Lorem ipsum dolor sit amet.
                .tabs-panel
                    p Lorem ipsum dolor sit amet.
                .tabs-panel
                    p Lorem ipsum dolor sit amet.
                .tabs-panel
                    p Lorem ipsum dolor sit amet.
                .tabs-panel
                    p Lorem ipsum dolor sit amet.
                .tabs-panel
                    p Lorem ipsum dolor sit amet.
                .tabs-panel
                    p Lorem ipsum dolor sit amet.
