section.publications-section
    .container.publications-section__container
        nav.breadcrumbs.animation-down(aria-label="breadcrumb")
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Головна
                li.breadcrumbs__item(aria-current="page") Публікації

        h2.section-title.publications-section__title.animation-down Публікації

        ul.publications-section__list
            li.publications-section__item.animation-down
                .info
                    svg.info__icon(width="41" height="41")
                        use(xlink:href="img/sprite.svg#book")
                        
                    h3.info__title Цикатридина суппозитории
                    .info__text
                        ul.info__dot-list
                            li
                                a(href="#") Вплив препарату Cicatridina на зміни піхви внаслідок променевого лікування раку шийки матки або ендометрія. Спостережне дослідження.
                            li
                                a(href="#") Оцінка ефективності використання супозиторіїв Cicatridina для загоєння і відновлення шийки матки, піхви і зовнішніх статевих органів жінки.
                            li
                                a(href="#") Клінічна ефективність гормональних та негормональних засобів у лікування вульвовагінальної атрофії.
                            li
                                a(href="#") Неінфекційні вагініти – проблема 21 століття.
                            li
                                a(href="#") Ектопія як фактор ризику ВПЛ інфекції шийки матки та мета первинних профілактичних заходів.
                            li
                                a(href="#") Порівняння вагінальних супозиторіїв с гіалуроновою кислотою та вагінальних супозиторіїв с естрадіолом при лікуванні атрофічного кольпіта.
                            li
                                a(href="#") Сучасні можливості відновлення та загоєння статевих органів нижнього відділу у жінок.
                            li
                                a(href="#") Лікування доброякісної мікрогландулярної гіперплазії у жінок фертильного віку з порушеннями вегетативного .гомеостазу
                            li
                                a(href="#") Обґрунтованість місцевої терапії вагінальними супозиторіями з гіалуроновою кислотою при лікуванні побічних ефектів від променевої та хіміотерапії піхви. 
            
            li.publications-section__item.animation-down
                .info
                    svg.info__icon(width="41" height="41")
                        use(xlink:href="img/sprite.svg#book")
                        
                    h3.info__title Неопробіо
                    .info__text
                        ul.info__dot-list
                            li
                                a(href="#") Оптимізація терапії вульвовагінітів у жінок в менопаузі.
                            li
                                a(href="#") Оцінка ефективності пробіотика Неопробіо у відновленні порушеного мікробіома піхви вагітних.

            li.publications-section__item.animation-down
                .info
                    svg.info__icon(width="41" height="41")
                        use(xlink:href="img/sprite.svg#book")
                        
                    h3.info__title Вагікаль
                    .info__text
                        ul.info__dot-list
                            li
                                a(href="#") Негормональне лікування атрофічного кольпіта.
                            li
                                a(href="#") Клінічний досвід застосування вагінальних супозиторіїв Вагікаль після електрохірургічного лікування патології шийки матки.
                            li
                                a(href="#") Сучасні підходи до лікування доброякісних та передпухлинних захворювань шийки матки.
                            li
                                a(href="#") Ефективність застосування препарату Вагікаль при бактеріальному вагінозі у періоді гестації.
            
            li.publications-section__item.animation-down
                .info
                    svg.info__icon(width="41" height="41")
                        use(xlink:href="img/sprite.svg#book")
                        
                    h3.info__title Кандибор
                    .info__text
                        ul.info__dot-list
                            li
                                a(href="#") Тактика ведення пацієнток з вульвовагінальним кандидозом. Рекомендації Британської асоціації з питань сексуального здоров’я та ВІЛ 2019.
                            li
                                a(href="#") Вульвовагініти: скринінг та лікування вульвовагінального кандидоза, трихомоніазата бактеріального вагіноза. Огляд практичних рекомендацій товариства акушерів і гінекологів Канади 2015 рік.
                            li
                                a(href="#") Використання клініцистами вагінальної підтримуючої терапії борною кислотою при рецидивуючому вульвовагінальному кандидозі та бактеріальному вагінозі.

            li.publications-section__item.animation-down
                .info
                    svg.info__icon(width="41" height="41")
                        use(xlink:href="img/sprite.svg#book")
                        
                    h3.info__title Проктіс М
                    .info__text
                        ul.info__dot-list
                            li
                                a(href="#") Вплив гіалуронової кислоти на час загоєння при гемороїдектомії за Міліграном-Морганом.
                            li
                                a(href="#") Порівняння використання гіалуронової кислоти та гліцерилтринітрата для лікування гострої анальної тріщини.
            
            li.publications-section__item.animation-down
                .info
                    svg.info__icon(width="41" height="41")
                        use(xlink:href="img/sprite.svg#book")
                        
                    h3.info__title Прокселан
                    .info__text
                        ul.info__dot-list
                            li
                                a(href="#") Роль Прокселану (Proxelan) у лікуванні хронічного простатиту.
                            li
                                a(href="#") Вплив монотерапії фітокомплексом, що включає насіння гарбуза, Centella asiatica, Boswellia, Helichrysum, вітамін-Е-ацетат, Melaleuca alternifolia та гіалуронову кислоту, на пацієнтів із синдромом хронічного тазового болю.
                            li
                                a(href="#") Застосування супозиторіїв Прокселан в лікуванні симптомів нижніх сечових шляхів, асоційованих з хронічним простатитом і доброякісною гіперплазією передміхурової залози.
            
            li.publications-section__item.animation-down
                .info
                    svg.info__icon(width="41" height="41")
                        use(xlink:href="img/sprite.svg#book")
                        
                    h3.info__title Кроха Д3
                    .info__text
                        ul.info__dot-list
                            li
                                a(href="#") Роль застосування пероральних крапель Кроха D3 у профілактиці розвитку дисплазії кульшових суглобів.
                            li
                                a(href="#") Глобальний консенсус щодо профілактикита ведення пацієнтів з аліментарним рахітом: основні положення. Реферативний огляд. 2020 рік.

            li.publications-section__item.animation-down
                .info
                    svg.info__icon(width="41" height="41")
                        use(xlink:href="img/sprite.svg#book")
                        
                    h3.info__title Медідерм
                    .info__text
                        ul.info__dot-list
                            li
                                a(href="#") Рекомендації з лікування атопічного дерматиту Європейського дерматологічного форуму, 2019. “Дитячий лікар» №1, 2020
                            li
                                a(href="#") Витяг із Рекомендацій з лікування атопічного дерматиту Європейського дерматологічного форуму (2019, European Dermatology Forum).
            
            li.publications-section__item.animation-down
                .info
                    svg.info__icon(width="41" height="41")
                        use(xlink:href="img/sprite.svg#book")
                        
                    h3.info__title Цикатридина мазь та спрей
                    .info__text
                        ul.info__dot-list
                            li
                                a(href="#") Ефективність гіалуронової кислоти в лікуванні синдрома діабетичної стопи. Результати системного огляду.
                            li
                                a(href="#") Використання похідних гіалуронової кислоти в лікуванні ран що тривало загоюються. Системний огляд.
                            li
                                a(href="#") Гіалуронова кислота при загоєнні ран: Повторне відкриття головного гравця.
            
            li.publications-section__item.animation-down
                .info
                    svg.info__icon(width="41" height="41")
                        use(xlink:href="img/sprite.svg#book")
                        
                    h3.info__title СК-СД, стрептокіназа-стрептодорназа
                    .info__text
                        ul.info__dot-list
                            li
                                a(href="#") Комплексна терапія синдрому хронічного тазового болю у пацієнток із хронічними запальними захворюваннями органів малого таза.
