section.seo-section
    .container.seo-section__container
        h2.section-title.seo-section__title.animation-down SEO текст
        
        .seo-section__text.animation-down
            p Більше 55 років досліджень молекули ГІАЛУРОНОВОЇ КИСЛОТИ вивели Fidia на передові позиції у виробництві як натуральної, так і функціоналізованої ГІАЛУРОНОВОЇ КИСЛОТИ з використанням запатентованих та перевірених виробничих процесів з різними діапазонами молекулярної маси відповідно до конструктивних характеристик готової. 
            p Більше 55 років досліджень молекули ГІАЛУРОНОВОЇ КИСЛОТИ вивели Fidia на передові позиції у виробництві як натуральної, так і функціоналізованої ГІАЛУРОНОВОЇ КИСЛОТИ з використанням запатентованих та перевірених виробничих процесів з різними діапазонами молекулярної маси відповідно до конструктивних характеристик готової. 
            p Більше 55 років досліджень молекули ГІАЛУРОНОВОЇ КИСЛОТИ вивели Fidia на передові позиції у виробництві як натуральної, так і функціоналізованої ГІАЛУРОНОВОЇ КИСЛОТИ з використанням запатентованих та перевірених виробничих процесів з різними діапазонами молекулярної маси відповідно до конструктивних характеристик готової. 
            p Більше 55 років досліджень молекули ГІАЛУРОНОВОЇ КИСЛОТИ вивели Fidia на передові позиції у виробництві як натуральної, так і функціоналізованої ГІАЛУРОНОВОЇ КИСЛОТИ з використанням запатентованих та перевірених виробничих процесів з різними діапазонами молекулярної маси відповідно до конструктивних характеристик готової. 

        button.seo-section__more(type="button") Читати більше
            svg.seo-section__more-icon(width="12" height="8")
                use(xlink:href="img/sprite.svg#arrow-down")
