section.similar-section
    .container.similar-section__container
        h2.section-title.similar-section__title.animation-down Схожі товари

    .swiper.similar-slider.animation-down
        .swiper-wrapper
            .swiper-slide.similar-slider__slide
                a.product-card(href="#")
                    picture.product-card__picture
                        img.product-card__img(src="img/product-img.webp" srcset="img/product-img@2x.webp 2x" loading="lazy" width="320" height="259"  alt="alt")
                    
                    .product-card__content
                        h3.product-card__title Цетло Плюс
                        p.product-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                        .product-card__more Детальніше
                            svg.product-card__more-icon(width="7" height="11")
                                use(xlink:href="img/sprite.svg#arrow-right")
            
            .swiper-slide.similar-slider__slide
                a.product-card(href="#")
                    picture.product-card__picture
                        img.product-card__img(src="img/product-img.webp" srcset="img/product-img@2x.webp 2x" loading="lazy" width="320" height="259"  alt="alt")
                    
                    .product-card__content
                        h3.product-card__title Цетло Плюс
                        p.product-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                        .product-card__more Детальніше
                            svg.product-card__more-icon(width="7" height="11")
                                use(xlink:href="img/sprite.svg#arrow-right")
            
            .swiper-slide.similar-slider__slide
                a.product-card(href="#")
                    picture.product-card__picture
                        img.product-card__img(src="img/product-img.webp" srcset="img/product-img@2x.webp 2x" loading="lazy" width="320" height="259"  alt="alt")
                    
                    .product-card__content
                        h3.product-card__title Цетло Плюс
                        p.product-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                        .product-card__more Детальніше
                            svg.product-card__more-icon(width="7" height="11")
                                use(xlink:href="img/sprite.svg#arrow-right")
                                
            .swiper-slide.similar-slider__slide
                a.product-card(href="#")
                    picture.product-card__picture
                        img.product-card__img(src="img/product-img.webp" srcset="img/product-img@2x.webp 2x" loading="lazy" width="320" height="259"  alt="alt")
                    
                    .product-card__content
                        h3.product-card__title Цетло Плюс
                        p.product-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                        .product-card__more Детальніше
                            svg.product-card__more-icon(width="7" height="11")
                                use(xlink:href="img/sprite.svg#arrow-right")
            
            .swiper-slide.similar-slider__slide
                a.product-card(href="#")
                    picture.product-card__picture
                        img.product-card__img(src="img/product-img.webp" srcset="img/product-img@2x.webp 2x" loading="lazy" width="320" height="259"  alt="alt")
                    
                    .product-card__content
                        h3.product-card__title Цетло Плюс
                        p.product-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                        .product-card__more Детальніше
                            svg.product-card__more-icon(width="7" height="11")
                                use(xlink:href="img/sprite.svg#arrow-right")
            
            .swiper-slide.similar-slider__slide
                a.product-card(href="#")
                    picture.product-card__picture
                        img.product-card__img(src="img/product-img.webp" srcset="img/product-img@2x.webp 2x" loading="lazy" width="320" height="259"  alt="alt")
                    
                    .product-card__content
                        h3.product-card__title Цетло Плюс
                        p.product-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                        .product-card__more Детальніше
                            svg.product-card__more-icon(width="7" height="11")
                                use(xlink:href="img/sprite.svg#arrow-right")

        .swiper-scrollbar.similar-slider__scrollbar
