section.special-section
    .container.special-section__container
        .special-section__left
            h2.section-title.special-section__title.animation-down Спеціальна пропозиція для клінік

            ul.special-list.animation-down
                li.special-list__item ЕНЕМА-СЕЛЛА одноразова клізма розчин ректальний 120 мл.
                li.special-list__item Цистогіал, розчин стерильний 0,2% на основі гіалуронової кислоти для захисту слизової оболонки сечового міхура, 50 мл

            form.form.animation-down(id="form" autocomplete="off" novalidate="novalidate")
                .form__row
                    .form__group.form__group--6
                        input#inputName.input.form__input(type="text" name="inputFirstName" placeholder="" autocomplete="off" required)
                        label.form__placeholder Ім'я *
                    
                    .form__group.form__group--6
                        input#inputPhone.input.form__input.tell-input(type="text" name="inputPhone" placeholder="" autocomplete="off" required)

                .form__group
                    input#inputEmail.input.form__input(type="text" name="inputEmail" placeholder="" autocomplete="off" required)
                    label.form__placeholder Пошта *

                .form__group.form__group--mb-30
                    p.form__agree Згоден з умовами 
                        a(href="#") політики конфіденційності

                .form__button-group
                    button.button.button--green.form__button Надіслати
        
        .special-section__right
            img.special-section__info.animation-down(src="img/info-icon.svg" loading="lazy" width="70" height="70"  alt="alt")

            .special-section__text.animation-down
                p Якщо Ви вже встигли переконатися у високій якості та ефективності продуктів, представлених компанією «Євролек-Україна» і вони вже посіли своє місце у Вашій лікарській практиці, пропонуємо Вам розглянути пропозицію прямих поставок продукції до Вашого лікувального закладу.
                p Ми розробили спеціальну пропозицію для приватних клінік, яка надає можливість знизити витрати на закупівлю лікарських засобів та медичних виробів.
                br
                p
                    strong Особливо Вашу увагу звертаємо на препарати, які використовуються безпосередньо у клініці, при проведенні діагностичних та лікувальних процедур.
