section.team-section
    .container.team-section__container
        h2.section-title.team-section__title.animation-down Наша команда

    .container.container--fluid
        .swiper.team-slider.animation-down
            .swiper-wrapper
                .swiper-slide.team-slider__slide
                    .team-card
                        picture.team-card__picture
                            img.team-card__img(src="img/team-img.webp" srcset="img/team-img@2x.webp 2x" loading="lazy" width="575" height="344"  alt="alt")

                        .team-card__bottom
                            .team-card__descr
                                h3.team-card__name Іван Іванов Іванович
                                p.team-card__position Головний лікар
                            
                            address.social.team-card__social
                                ul.social__list
                                    li.social__item
                                        a.social__link.social__link--telegram(href="#")
                                            svg.social__icon(width="18" height="16")
                                                use(xlink:href="img/sprite.svg#telegram")
                                    li.social__item
                                        a.social__link.social__link--linkedin(href="#")
                                            svg.social__icon(width="15" height="15")
                                                use(xlink:href="img/sprite.svg#linkedin")
                
                .swiper-slide.team-slider__slide
                    .team-card
                        picture.team-card__picture
                            img.team-card__img(src="img/team-img.webp" srcset="img/team-img@2x.webp 2x" loading="lazy" width="575" height="344"  alt="alt")

                        .team-card__bottom
                            .team-card__descr
                                h3.team-card__name Іван Іванов Іванович
                                p.team-card__position Головний лікар
                            
                            address.social.team-card__social
                                ul.social__list
                                    li.social__item
                                        a.social__link.social__link--telegram(href="#")
                                            svg.social__icon(width="18" height="16")
                                                use(xlink:href="img/sprite.svg#telegram")
                                    li.social__item
                                        a.social__link.social__link--linkedin(href="#")
                                            svg.social__icon(width="15" height="15")
                                                use(xlink:href="img/sprite.svg#linkedin")
                
                .swiper-slide.team-slider__slide
                    .team-card
                        picture.team-card__picture
                            img.team-card__img(src="img/team-img.webp" srcset="img/team-img@2x.webp 2x" loading="lazy" width="575" height="344"  alt="alt")

                        .team-card__bottom
                            .team-card__descr
                                h3.team-card__name Іван Іванов Іванович
                                p.team-card__position Головний лікар
                            
                            address.social.team-card__social
                                ul.social__list
                                    li.social__item
                                        a.social__link.social__link--telegram(href="#")
                                            svg.social__icon(width="18" height="16")
                                                use(xlink:href="img/sprite.svg#telegram")
                                    li.social__item
                                        a.social__link.social__link--linkedin(href="#")
                                            svg.social__icon(width="15" height="15")
                                                use(xlink:href="img/sprite.svg#linkedin")
                
                .swiper-slide.team-slider__slide
                    .team-card
                        picture.team-card__picture
                            img.team-card__img(src="img/team-img.webp" srcset="img/team-img@2x.webp 2x" loading="lazy" width="575" height="344"  alt="alt")

                        .team-card__bottom
                            .team-card__descr
                                h3.team-card__name Іван Іванов Іванович
                                p.team-card__position Головний лікар
                            
                            address.social.team-card__social
                                ul.social__list
                                    li.social__item
                                        a.social__link.social__link--telegram(href="#")
                                            svg.social__icon(width="18" height="16")
                                                use(xlink:href="img/sprite.svg#telegram")
                                    li.social__item
                                        a.social__link.social__link--linkedin(href="#")
                                            svg.social__icon(width="15" height="15")
                                                use(xlink:href="img/sprite.svg#linkedin")

            .swiper-button-next.swiper-button-next--blue.team-slider__next
            .swiper-button-prev.swiper-button-prev--blue.team-slider__prev
            .swiper-scrollbar.team-slider__scrollbar