section.vacancy-section
    .container.vacancy-section__container
        nav.breadcrumbs.animation-down(aria-label="breadcrumb")
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Головна
                li.breadcrumbs__item(aria-current="page") Вакансії

        h2.section-title.vacancy-section__title.animation-down Медичний представник у відділі безрецептурних препаратів

        .vacancy-section__text
            p ТОВ "ОРГАНОСІН ЛТД" (на ринку України з 1996 року) - маркетингова компанія, що займається просуванням продуктів, вироблених під власними торговими марками, активно шукає кандидатів на позицію медичного представника відділу безрецептурних препаратів.
            h3 Вимоги:
            ul
                li вища медична / фармацевтична освіта
                li цілеспрямованість, орієнтованість на результат
                li Навички ефективної комунікації
                li активна життєва позиція
                li ПК (рівень користувача)
                li досвід керування авто (водійське посвідчення)
            h3 Обов'язки:
            ul
                li просування препаратів компанії
                li організація та проведення презентацій, конференцій, круглих столів
                li активна робота з ключовими клієнтами - лікарі, аптеки, аптечні мережі
                li розширення територіальної клієнтської бази
            h3 Пропозиція компанії:
            ul
                li конкурентна заробітна плата + щомісячна бонусна система
                li офіційне працевлаштування
                li професійне і кар'єрне зростання
                li автомобіль
                li мобільний зв'язок
                li оплата Інтернет-зв'язку
                li медичне страхування (після успішного проходження випробувального терміну)

        .vacancy-section__location
            svg.vacancy-section__location-icon(width="32" height="40")
                use(xlink:href="img/sprite.svg#location")
            | Івано-Франківськ, Одеса