section.vacancies-section
    .container.vacancies-section__container
        nav.breadcrumbs.animation-down(aria-label="breadcrumb")
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Головна
                li.breadcrumbs__item(aria-current="page") Вакансії

        h2.section-title.vacancies-section__title.animation-down Вакансії

        ul.vacancies-section__list
            li.vacancies-section__item.animation-down
                a.vacancy-card(href="#")
                    h3.vacancy-card__title Головний лікар
                    .vacancy-card__location.vacancy-card__location--visible-md
                        svg.vacancy-card__location-icon(width="19" height="23")
                            use(xlink:href="img/sprite.svg#location")
                        | Івано-Франківськ, Одеса
                        
                    p.vacancy-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                    
                    .vacancy-card__bottom
                        .vacancy-card__more Детальніше
                            svg.vacancy-card__more-icon(width="7" height="11")
                                use(xlink:href="img/sprite.svg#arrow-right")
                        
                        .vacancy-card__location.vacancy-card__location--hidden-md
                            svg.vacancy-card__location-icon(width="19" height="23")
                                use(xlink:href="img/sprite.svg#location")
                            | Івано-Франківськ, Одеса
            
            li.vacancies-section__item.animation-down
                a.vacancy-card(href="#")
                    h3.vacancy-card__title Головний лікар
                    .vacancy-card__location.vacancy-card__location--visible-md
                        svg.vacancy-card__location-icon(width="19" height="23")
                            use(xlink:href="img/sprite.svg#location")
                        | Івано-Франківськ, Одеса
                        
                    p.vacancy-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                    
                    .vacancy-card__bottom
                        .vacancy-card__more Детальніше
                            svg.vacancy-card__more-icon(width="7" height="11")
                                use(xlink:href="img/sprite.svg#arrow-right")
                        
                        .vacancy-card__location.vacancy-card__location--hidden-md
                            svg.vacancy-card__location-icon(width="19" height="23")
                                use(xlink:href="img/sprite.svg#location")
                            | Івано-Франківськ, Одеса

            li.vacancies-section__item.animation-down
                a.vacancy-card(href="#")
                    h3.vacancy-card__title Головний лікар
                    .vacancy-card__location.vacancy-card__location--visible-md
                        svg.vacancy-card__location-icon(width="19" height="23")
                            use(xlink:href="img/sprite.svg#location")
                        | Івано-Франківськ, Одеса
                        
                    p.vacancy-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                    
                    .vacancy-card__bottom
                        .vacancy-card__more Детальніше
                            svg.vacancy-card__more-icon(width="7" height="11")
                                use(xlink:href="img/sprite.svg#arrow-right")
                        
                        .vacancy-card__location.vacancy-card__location--hidden-md
                            svg.vacancy-card__location-icon(width="19" height="23")
                                use(xlink:href="img/sprite.svg#location")
                            | Івано-Франківськ, Одеса
            
            li.vacancies-section__item.animation-down
                a.vacancy-card(href="#")
                    h3.vacancy-card__title Головний лікар
                    .vacancy-card__location.vacancy-card__location--visible-md
                        svg.vacancy-card__location-icon(width="19" height="23")
                            use(xlink:href="img/sprite.svg#location")
                        | Івано-Франківськ, Одеса
                        
                    p.vacancy-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                    
                    .vacancy-card__bottom
                        .vacancy-card__more Детальніше
                            svg.vacancy-card__more-icon(width="7" height="11")
                                use(xlink:href="img/sprite.svg#arrow-right")
                        
                        .vacancy-card__location.vacancy-card__location--hidden-md
                            svg.vacancy-card__location-icon(width="19" height="23")
                                use(xlink:href="img/sprite.svg#location")
                            | Івано-Франківськ, Одеса

            li.vacancies-section__item.animation-down
                a.vacancy-card(href="#")
                    h3.vacancy-card__title Головний лікар
                    .vacancy-card__location.vacancy-card__location--visible-md
                        svg.vacancy-card__location-icon(width="19" height="23")
                            use(xlink:href="img/sprite.svg#location")
                        | Івано-Франківськ, Одеса
                        
                    p.vacancy-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                    
                    .vacancy-card__bottom
                        .vacancy-card__more Детальніше
                            svg.vacancy-card__more-icon(width="7" height="11")
                                use(xlink:href="img/sprite.svg#arrow-right")
                        
                        .vacancy-card__location.vacancy-card__location--hidden-md
                            svg.vacancy-card__location-icon(width="19" height="23")
                                use(xlink:href="img/sprite.svg#location")
                            | Івано-Франківськ, Одеса
            
            li.vacancies-section__item.animation-down
                a.vacancy-card(href="#")
                    h3.vacancy-card__title Головний лікар
                    .vacancy-card__location.vacancy-card__location--visible-md
                        svg.vacancy-card__location-icon(width="19" height="23")
                            use(xlink:href="img/sprite.svg#location")
                        | Івано-Франківськ, Одеса
                        
                    p.vacancy-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                    
                    .vacancy-card__bottom
                        .vacancy-card__more Детальніше
                            svg.vacancy-card__more-icon(width="7" height="11")
                                use(xlink:href="img/sprite.svg#arrow-right")
                        
                        .vacancy-card__location.vacancy-card__location--hidden-md
                            svg.vacancy-card__location-icon(width="19" height="23")
                                use(xlink:href="img/sprite.svg#location")
                            | Івано-Франківськ, Одеса
