section.why-section
    .container.why-section__container
        h2.section-title.why-section__title.animation-down Чому вигідно працювати з нами?

        .swiper.why-slider.animation-down
            .swiper-wrapper
                .swiper-slide.why-slider__slide
                    .why-card
                        .why-card__pic
                            img.why-card__icon(src="img/why-icon-1.svg" loading="lazy" width="232" height="170" alt="alt")
                        h3.why-card__title Доставка по Україні
                        p.why-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                
                .swiper-slide.why-slider__slide
                    .why-card
                        .why-card__pic
                            img.why-card__icon(src="img/why-icon-2.svg" loading="lazy" width="232" height="170" alt="alt")
                        h3.why-card__title Різні форми оплати
                        p.why-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                
                .swiper-slide.why-slider__slide
                    .why-card
                        .why-card__pic
                            img.why-card__icon(src="img/why-icon-3.svg" loading="lazy" width="232" height="170" alt="alt")
                        h3.why-card__title Актуальні ціни
                        p.why-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.
                
                .swiper-slide.why-slider__slide
                    .why-card
                        .why-card__pic
                            img.why-card__icon(src="img/why-icon-4.svg" loading="lazy" width="232" height="170" alt="alt")
                        h3.why-card__title Об’єктні знижки
                        p.why-card__descr Ми з гордістю дивимось у минуле, коли фармацевти аптеки проклали нам шлях.

            .swiper-scrollbar.why-slider__scrollbar