.publications-section
    position: relative
    padding: 55px 0 90px
    background: linear-gradient(to bottom, #e6e6e6, #fff)
    z-index: $z-index-0

    @media ($max-md)
        padding: 25px 0 30px

    &:before
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: url(../img/top-section-bg.svg) no-repeat left top, url(../img/stars-right-blue.svg) no-repeat right bottom
        opacity: .05
        content: ""
        z-index: $z-index-minus

        @media ($max-md)
            background: url(../img/top-section-bg.svg) no-repeat left top
            background-size: contain
    
    &__title
        margin-bottom: 25px

        @media ($max-md)
            text-align: center
            margin-bottom: 20px

    &__list
        margin: 0
        padding: 0
        list-style: none

    &__item

        &:not(:last-child)
            margin-bottom: 30px

            @media ($max-md)
                margin-bottom: 20px